<div align="center">

<center> 
<%= image_tag "quienes.png", html: { alt: "quienesomos" } %>
</center> 

<p></p>
<p></p>
   
 
<p style="text-align: justify;">Todo comenzó en 2006, cuando el fundador y Instaparking, Charles Cridland, se dio cuenta de una serie de vehículos que no encontraban espacio para aparcarlos. De pronto se produjo la constatación de que el aparcamiento no tiene por qué ser tan escasa si la gente pudiera alquilar sus espacios privados. Al cabo de unos meses, en julio de 2006, se puso en marcha Instaparking.</p>

<p style="text-align: justify;">Gracias a una gran publicidad en muchos periódicos nacionales y  medios de comunicación que rápidamente creció hasta convertirse en uno de los lugares más populares para alquilar un espacio de aparcamiento.</p>

 