<div align="center">

<center> 
<%= image_tag "contacta.jpg", html: { alt: "contacta" } %>
</center> 

<p></p>
<p></p>
    
<p style="text-align: justify;">Te recomendamos que visites nuestro blog y te unas a nuestro grupo de facebook y twitter, donde puedes estar al tanto de noticias y promociones especiales. Si quieres ponerte en contacto con nosotros, puedes usar este formulario o llamarnos al +51 (1) 000 0000 ó 111 1111 (24 horas).</p>

<p style="text-align: justify;">¡Gracias por tu interés en nuestro proyecto!</p>

<p style="text-align: justify;">Equipo de Instaparking</p>

<div class="form-group">
  <label for="usr">Nombre Completo:</label>
  <input type="text" class="form-control" id="usr">
</div>

<div class="form-group">
  <label for="pwd">Correo electrónico:</label>
  <input type="password" class="form-control" id="pwd">
</div>

<div class="form-group">
  <label for="comment">Mensaje:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>

<left><button type="submit" class="btn btn-primary active">Guardar</button></left>
