<%= content_for :header_title do %>

    Frequently Asked Questions 

<% end %>

<%= content_for :header_sub_title do %>

    Your doubts, clarified 

<% end %>
<p center><%= image_tag "faq_small-copy.png", html: { alt: "faq_small.copy" } %></p>
<body style="text-align: justify;">
<p><strong>¿Cómo reservar un espacio?</strong></p>

<p><li>Introduzca su destino y las fechas y horas que desea aparcar.</li>
<li>Así como los códigos postales, se puede buscar por destinos clave como hospitales, estaciones de tren o puntos de referencia.</li>
<li>Puede adaptar los resultados de búsqueda por tipo de cosas como el espacio, la distancia y otras instalaciones que utilizan el 'Ordenar por' la función y el botón 'Filtros'.</li>
</p>

<p ><strong>¿Cómo Puedo Cancelar Mi Reserva?</strong></p>

<p>Para cancelar una reserva, la cabeza a sus reservas y haga clic en "Más" en el que desea cancelar y seleccione 'cancelar la reserva'. Por favor hacer esto tan pronto como sea posible para que podamos liberar el espacio para otros conductores. Al pasar revista a todas las cancelaciones, puede tardar 3-4 días laborables hasta que reciba su reembolso. Tenga la seguridad de que vamos a llegar a ella tan pronto como nos sea posible. La cantidad podemos reembolsar su caso dependerá de la duración de la reserva y la antelación con la que hace la solicitud de cancelación. Si usted está buscando un reembolso después de terminada la reserva porque algo salió mal, por favor ver nuestro artículo sobre cómo solicitar un reembolso.</p>

<p><strong>¿Cómo Puedo Restablecer Mi Contraseña?</strong></p>

<p>Para restablecer su contraseña, haga clic aquí y escriba la dirección de correo electrónico registrada con su cuenta de JustPark. Recibirás un correo electrónico de inmediato - simplemente haga clic en el enlace del correo electrónico para restablecer la contraseña.</p>

<p><strong>¿Cómo Puedo Modificar La Fecha O La Hora De La Reserva?</strong></p>

<p>Para extender su reserva o terminar antes de tiempo, a la cabeza de reservas sección de la cuenta JustPark. Haga clic en "Más" en la reserva que desea actualizar y seleccione 'Modificar reserva'. También puede ampliar su reserva después de que se inicia mediante la aplicación JustPark o sitio web móvil. Si desea iniciar su reserva antes, tendremos que ayudar a resolver eso por usted. Por favor, póngase en contacto con nosotros aquí. Se aplicarán Cualquier reembolso o pago adicional necesario al momento de procesar el cambio.</p>

<p><strong>¿Cómo Desactivo Mi Cuenta?</strong></p>

<p>Para desactivar su cuenta: Diríjase configuración del perfil , desplácese hasta la parte inferior de la página, y haga clic en Deshabilitar cuenta '. Si también la lista de su espacio con nosotros, por favor, compruebe si tiene cualquier tipo de reservas futuras antes de inhabilitar su cuenta . Para evitar causar problemas para los conductores, por favor poner a estas reservas siempre que sea posible y háganos saber cuando usted no puede.
</p>

<p><strong>¿Puedo Aparcar 24 Horas Del Día?</strong></p>

<p>Se puede aparcar durante la noche en cualquier espacio que se puede reservar para más de un día en una fila (a menos que la descripción del anuncio diga lo contrario). Por favor, tenga en cuenta que incluso si usted puede dejar su vehículo durante la noche, el espacio podría no ser accesible en todo veces. Espacios que se puede acceder durante la noche se indican con la etiqueta 'estacionamiento durante la noche' debajo de la descripción que figura en el listado. Si necesita acceder a su coche durante la noche y la etiqueta de 'estacionamiento durante la noche' no está marcado, se recomienda mensajería dueño del espacio antes de reservar para asegurarse de que está bien. Nuestros días '' se calculan por un día natural que restablece a las 5 am. Hacemos esto para dar cuenta de los conductores que podrían ser de estacionamiento para eventos nocturnos.</p>

<p><strong>¿Cómo Reservar Más De Un Coche?</strong></p>

<p>Para reservar más de un vehículo en el mismo espacio, tendrá que hacer reservas por separado. Para ayudarle a encontrar listados con múltiples espacios puede filtrar su búsqueda. Introduzca la ubicación, fechas y horas que desea aparcar, haga clic en "Filtro" e introduzca el número de coches que desea aparcar en "</p>

<p>Nº mínimo de plazas '.</p>


<p>Si no esta  seguro de ¿cómo reservar un espacio? Lea nuestro artículo sobre la reserva de un espacio.</p>

<p><strong>¿Qué Pasa Si No Sé Los Detalles Del Coche Que Quiero Aparcar?</strong></p>

<p>¿No sabe la marca, modelo o número de placa del vehículo que va a conducir? ¡No hay problema! - Siempre se puede añadirlos en en una fecha posterior. Al realizar la reserva, simplemente marca la casilla "No sé mi matrícula" y seleccione "Otros" para la marca y el modelo. Una vez que conoce sus detalles del vehículo , por favor vuelva a entrar para JustPark a actualizarlos, de modo que el conductor sepa que va a venir!</p>

</body>